@model IEnumerable<NeocronWorldMap.Web.ViewModels.OutpostListViewModel>

@{
    ViewBag.Title = "Outposts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header
{}
<h2>Outposts</h2> 
<ul>
    @foreach (var outpost in Model)
    {
        <li>@char.ToUpper(outpost.Coordinates.YCoordinate)@outpost.Coordinates.XCoordinate @outpost.Name, @outpost.Faction.Name</li>
    }
</ul>
