body { font-family: arial;background: #303030;color: white;margin: 0;}
h2{ margin: 0;}
#content{ margin-left: auto;margin-right: auto;max-width: 1280px;background: black;padding-top: 15px;height: 1000px;}

.world-grid{ background: url("/Assets/Images/worldmap.jpg") no-repeat;min-width: 962px;height: 673px;margin-left: auto;margin-right: auto;}
    .world-grid .hover td:hover {padding: 0;background: #ddd;background: rgba(224, 224, 224, 0.5);border: 1px dashed #ddd;cursor: pointer;}
        .world-grid .hover td a { font-size: 0.5em;}