body { font-family: arial;}

.world-grid{ background: url("/Assets/Images/worldmap.jpg") no-repeat;min-width: 962px;height: 673px;}
    .world-grid .hover td:hover {background: #00aaff;background: rgba(0, 192, 255, 0.5);}
        .world-grid .hover td a { font-size: 0.5em;}