@model NeocronWorldMap.Web.ViewModels.GridViewModel

@{
    ViewBag.Title = "Neocron World Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    <script type="text/javascript" src="~/Assets/Scripts/Main.js"></script>
}

<h2 class="page-title">Neocron World Map</h2>

<table class="world-grid">
    <tr>
        @for(var i = 0; i < 17; i++)
        {
            <td>
            
            </td>
        }
    </tr>
    @foreach (var ycoordinate in @Model.YAxis)
    {
        <tr class="hover">
            @foreach(var xcoordinate in Model.XAxis)
            {
                <td data-xcoordinate="@xcoordinate" data-ycoordinate="@ycoordinate" class="no-faction-grid">
                    <a href="/zone/details?xCoordinate=@xcoordinate&yCoordinate=@ycoordinate">click meee!</a>
                </td>
            }
        </tr>
    }
</table>

<div class="zone-detail hidden"></div>
