@model dynamic

@{
    ViewBag.Title = "Neocron World Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{}

<h2>Neocron World Map</h2>

<table class="world-grid">
    <tr class="no-hover">
        @for(var i = 0; i < 17; i++)
        {
            <td>
            
            </td>
        }
    </tr>
    @for (var y = 0; y < 11; y++ )
    {
        <tr class="hover">
            @for (var i = 1; i <= 17; i++)
            {
                <td>
                    <a href="/zone/details?xCoordinate=@i&yCoordinate=a">click meee!</a>
                </td>
            }
        </tr>
    }
</table>
