<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Assets/Stylesheets/Site.css"/>
    <script type="text/javascript" src="~/Assets/Scripts/jquery-1.10.2.min.js"></script>
    <title>@ViewBag.Title</title>
    @RenderSection("Header")
</head>
<body>
    @RenderBody()
</body>
</html>
