<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SessionManagementSoap" />
        <binding name="PublicInterfaceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.neocron-game.com/SessionManagement.asmx"
        binding="basicHttpBinding" bindingConfiguration="SessionManagementSoap"
        contract="NeocronSessionManagement.SessionManagementSoap" name="SessionManagementSoap" />
      <endpoint address="http://api.neocron-game.com/PublicInterface.asmx"
        binding="basicHttpBinding" bindingConfiguration="PublicInterfaceSoap"
        contract="NeocronPublicInterface.PublicInterfaceSoap" name="PublicInterfaceSoap" />
    </client>
  </system.serviceModel>
</configuration>