@model NeocronWorldMap.Web.ViewModels.OutpostOwnershipViewModel

<div class="owners">
    <ul class="owner-details @Model.FactionClass text">
        <li class="clan-name"><h3>@Model.ClanName</h3></li>
        <li>Faction: @Model.FactionName</li>
        <li>Owned for: @Model.TimeOwnedFor</li>
    </ul>
</div>
