@model NeocronWorldMap.Web.ViewModels.OutpostOwnershipViewModel

<div>Owning clan name: @Model.ClanName</div>
<div>Owning faction name: @Model.FactionName</div>
<div>Owned for: @Model.TimeOwnedFor</div>
<div>More clan information coming soon...</div>
