@model NeocronWorldMap.Web.ViewModels.ZoneDetailsViewModel

<h2>@Model.ZoneName - @Model.OutpostViewModel.Name</h2>
<div class="clan-information owners">
    <div>Owning clan name: @Model.OutpostViewModel.OutpostOwnershipViewModel.ClanName</div>
    <div>Owning faction name: @Model.OutpostViewModel.OutpostOwnershipViewModel.FactionName</div>
    <div>More clan information coming soon...</div>
</div>
